.animate-fade {
    animation: fade 0.75s ease-in-out forwards;
}

.animate-caret {
    animation: caret 0.5s ease-in-out infinite;
}

.animate-caret-tertiary {
    animation: caret-tertiary 0.5s ease-in-out infinite;
}

.animate-scroll-fade {
    visibility: visible;
    animation: fade 1.25s ease-in-out forwards;
}
.animate-scroll-left {
    visibility: visible;
    animation: translate-left 1s ease-in-out forwards;
}

.animate-scroll-right {
    visibility: visible;
    animation: translate-right 1s ease-in-out forwards;
}

.animate-scroll-top {
    visibility: visible;
    animation: translate-top 1s ease-in-out forwards;
}

@mixin underline($color, $height) {
    position: relative;
    transition: 0.5s;
    &:hover {
        &:after {
          content: "";
          position: absolute;
          height: $height;
          background-color: $color;
          bottom: -0.25rem;
          animation: underline 0.5s forwards;
        }
    }
}

.animate-underline {
    @include underline(#dbedf3, 2px);
}

.animate-underline-thin {
    @include underline(#dbedf3, 1px);
}

.animate-underline-tertiary {
    @include underline(#F73859, 2px);
}

.animate-underline-thin-tertiary {
    @include underline(#F73859, 1px);
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes caret {
    from, to { background-color: transparent }
    50% { background-color: #DBEDF3 }
}

@keyframes caret-tertiary {
    from, to { background-color: transparent }
    50% { background-color: #F73859 }
}

@keyframes translate-left {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translate-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translate-top {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
